{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" novalidate="novalidate">

            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-3">Update Account</legend>
                <div class="form-group">
                    <!-- username -->
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4 is-invalid") }}

                        <!-- Warn invalid response-->
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <!-- Reference: https://getbootstrap.com/docs/4.0/components/forms/ -->
                        {{ form.username(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4") }}
                    {% endif %}
                </div>  

                <!-- first name field -->
                <div class="form-group">
                    {{ form.fname.label(class="form-control-label") }}
                    {% if form.fname.errors %}
                        {{ form.fname(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fname(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4") }}
                    {% endif %}
                </div>     

                <!-- last name field -->
                <div class="form-group">
                    {{ form.lname.label(class="form-control-label") }}
                    {% if form.lname.errors %}
                        {{ form.lname(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lname(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4") }}
                    {% endif %}
                </div>    

                <!-- brokerage field, this is optional -->
                <div class="form-group">
                    {{ form.brokerage.label(class="form-control-label") }}
                    {% if form.brokerage.errors %}
                        {{ form.brokerage(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.brokerage.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.brokerage(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4") }}
                    {% endif %}
                </div>
 
            </fieldset>
            <!-- submit form button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>   
        </form>
    </div>
{% endblock content %}