{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" novalidate="novalidate">

            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3"> Add Stock: </legend>
                <!-- ticker input -->
                <div class="form-group">
                    {{ form.ticker.label(class="form-control-label") }}
                    {% if form.ticker.errors %}
                    {{ form.ticker(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ticker.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ticker(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

            <fieldset class="form-group">
                    <!-- price bought -->
                    <div class="form-group">
                        {{ form.price.label(class="form-control-label") }}
                        {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>        
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div> 
        </form>


        <!-- Display Stock Data -->
        {% for key, value in data.items() %}
            <h3>{{key}}</h1>
            <h5>{{value}}</h2>

                <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Remove Stock</button>
                <!-- Modal -->
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Remove {{key}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to remove {{key}} from your portfolio?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_portfolio_ticker', ticker_id=key) }}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    </div>
                </div>
                </div>
            </div>
            
        {% endfor %}

    </div>
    <div class="border-top pt-4">
        <small class="text-muted">
            stockstash
        </small>
    </div>
{% endblock content %}