{% extends "layout.html" %}
{% block content %}

    <div class="content-section">
        <form method="POST" action="" novalidate="novalidate">

            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3"> Add Stock to Portfolio: </legend>
                <!-- ticker input -->
                <div class="form-group">
                    {{ form.ticker.label(class="form-control-label") }}
                    {% if form.ticker.errors %}
                    {{ form.ticker(class="form-control form-control-sm is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ticker.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ticker(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-4 col-lg-4") }}
                    {% endif %}
                </div>

            <fieldset class="form-group">
                    <!-- price bought -->
                    <div class="form-group">
                        {{ form.price.label(class="form-control-label") }}
                        {% if form.price.errors %}
                        {{ form.price(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.price.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.price(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-4 col-lg-4") }}
                        {% endif %}
                    </div>        
            </fieldset>

            <fieldset class="form-group">
                    <!-- quantity bought -->
                    <div class="form-group">
                        {{ form.quantity.label(class="form-control-label") }}
                        {% if form.quantity.errors %}
                        {{ form.quantity(class="form-control form-control-sm is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.quantity.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.quantity(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-4 col-lg-4") }}
                        {% endif %}
                    </div>        
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div> 
        </form>


        <!-- Portfolio Value-->
        <legend class="border-bottom mb-4"> 
            {% if (portfolio_value > initial_portfolio_value)%}
            <span class="arrow-green">
                &#x290A
            </span>
        {% else %}
            <span class="arrow-red">
                &#x290B
            </span>
        {% endif %}
        Portfolio Value:  {{ "$%.2f"|format(portfolio_value) }}
        <small class="text-muted">
                <br>Initial Value: {{ "$%.2f"|format(initial_portfolio_value) }}
        </small>
        </legend>

        <!-- Display Stock Data -->
    <div class="card-columns">
        {% for key, value in data.items() %}

                <div class ="hover-card">
                    <div class="card">

                        {% if ( value.price_bought > value.High[0]) %}
                            <div class="card-body right-red">
                        {% else %}
                            <div class="card-body right-green">
                        {%  endif %}

                            <h4 class="card-title">{{key.upper()}}</h4>
                            <p class="card-text">
                                Current High: {{value.High[0]}}
                                <br> Current Low: {{value.Low[0]}}
                                <br> Price Bought: {{value.price_bought}}
                                <br> Quantity Bought: {{value.quantity_bought}}
                            </p>
                            <button type="button" class="btn btn-outline-info btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{key}}">Remove Stock</button>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
            <div class="modal fade" id="deleteModal{{key}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Remove {{key}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to remove {{key}} from your portfolio?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_portfolio_ticker', ticker_id=key) }}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    </div>
                </div>
                </div>
            </div>
            
        {% endfor %}
    </div>
    </div>


    <div class="border-top pt-4">
        <small class="text-muted">
            stockstash
        </small>
    </div>
{% endblock content %}