{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" novalidate="novalidate">

            {{ form.hidden_tag() }}

            <fieldset class="form-group">
                <legend class="border-bottom mb-3">Join StockStash</legend>
                <div class="form-group">

                    <!-- username field is email -->
                    {{ form.username.label(class="form-control-label") }}

                    {% if form.username.errors %}
                        {{ form.username(class="form-control form-control-lg is-invalid") }}

                        <!-- Warn invalid response-->
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                    <!-- Reference: https://getbootstrap.com/docs/4.0/components/forms/ -->
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- password field, errors also get sent if matching from backend -->
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                    {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>

                <!-- confirm password field -->
                <div class="form-group">
                    {{ form.confirm_password.label(class="form-control-label") }}
                    {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>    

                <!-- first name field -->
                <div class="form-group">
                    {{ form.fname.label(class="form-control-label") }}
                    {% if form.fname.errors %}
                        {{ form.fname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.fname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.fname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>     

                <!-- last name field -->
                <div class="form-group">
                    {{ form.lname.label(class="form-control-label") }}
                    {% if form.lname.errors %}
                        {{ form.lname(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.lname.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.lname(class="form-control form-control-lg") }}
                    {% endif %}
                </div>    

                <!-- brokerage field, this is optional -->
                <div class="form-group">
                    {{ form.brokerage.label(class="form-control-label") }}
                    {% if form.brokerage.errors %}
                        {{ form.brokerage(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.brokerage.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.brokerage(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
 
            </fieldset>
            <!-- submit form button -->
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-success") }}
            </div>   
        </form>
    </div>
    <div class="border-top pt-4">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}