{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" novalidate="novalidate">

            {{ form.hidden_tag() }}
            <!-- login form -->
            <fieldset class="form-group">
                <legend class="border-bottom mb-3">Reset Password</legend>

                <!-- username is email -->
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {% if form.username.errors %}
                    {{ form.username(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.username.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.username(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
  

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div> 
        </form>
    </div>
{% endblock content %}