{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" novalidate="novalidate">

            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-3"> Add Stock: </legend>
                <!-- ticker input -->
                <div class="form-group">
                    {{ form.ticker.label(class="form-control-label") }}
                    {% if form.ticker.errors %}
                    {{ form.ticker(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4 is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.ticker.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.ticker(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4") }}
                    {% endif %}
                </div>
            </fieldset>

            <fieldset class="form-group">
                    <!-- low price -->
                    <div class="form-group">
                        {{ form.lowprice.label(class="form-control-label") }}
                        {% if form.lowprice.errors %}
                        {{ form.lowprice(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.lowprice.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.lowprice(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4") }}
                        {% endif %}
                    </div>
                    <!-- high price -->
                    <div class="form-group">
                        {{ form.highprice.label(class="form-control-label") }}
                        {% if form.highprice.errors %}
                        {{ form.highprice(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4 is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.highprice.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.highprice(class="form-control form-control-sm col-xs-12 col-sm-8 col-md-6 col-lg-4") }}
                        {% endif %}
                    </div>             
            </fieldset>

            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div> 
        </form>


        <!-- Display Stock Api Data -->
        {% for key, value in apidata.items() %}
            <h3>{{key}}</h1>
            <h5>{{value}}</h2>
        {% endfor %}

        <!-- Display Stock Db Data -->
        <!-- Display Stock Api Data -->
        {% for key, value in dbdata.items() %}
            <h3>{{key}}</h1>
            <h5>{{value}}</h2>

            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal{{key}}">Remove Stock</button>
                <!-- Modal -->
            <div class="modal fade" id="deleteModal{{key}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Remove {{key}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Are you sure you want to remove {{key}} from your watchlist?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form action="{{ url_for('delete_watchlist_ticker', ticker_id=key) }}" method="POST">
                        <input type="submit" class="btn btn-danger" value="Delete">
                    </form>
                    </div>
                </div>
                </div>
            </div>

        {% endfor %}
    </div>
    <div class="border-top pt-4 pb-4">
        <small class="text-muted">
            stockstash
        </small>
    </div>
{% endblock content %}